<body>
  <div
    class="container"
    style="margin: auto; text-align: center; margin-top: 3%"
  >
    <h1>Calendarización</h1>
    <p>
      Aqui se muestran el resumen del presupuesto propuesto por cada actividad.
    </p>
  </div>
  <!--CREACION DE FUNCION FOREACH-->
  <% actividad_data.forEach(function(actividad){ %>
    <div class="cointainer p-5">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="card">
            <div class="card-body">
              <h5><!--IMPRIMIR EN TABLA-->
                <%=actividad.idActividad+ " " +actividad.nombre%>
              </h5>
              <table id="tabla" class="table table-hover">
                <thead>
                  <th scope="col">Partida</th>
                  <th scope="col">Ene.</th>
                  <th scope="col">Feb.</th>
                  <th scope="col">Mar.</th>
                  <th scope="col">Abr.</th>
                  <th scope="col">May.</th>
                  <th scope="col">Jun.</th>
                  <th scope="col">Jul.</th>
                  <th scope="col">Ago.</th>
                  <th scope="col">Sept.</th>
                  <th scope="col">Oct.</th>
                  <th scope="col">Nov.</th>
                  <th scope="col">Dic.</th>
                  <th scope="col">Ingreso</th>
                  <th scope="col"></th>
                </thead>
                <tbody>
                  <% anteproyecto_data.forEach(function(anteproyecto){ %>
                    <% if(actividad.idActividad == anteproyecto.idActividad){ %>
                      <tr>
                        <th scope="col"><%=anteproyecto.partida%></td>
                        <td>$ <%=anteproyecto.enero%></td>
                        <td>$ <%=anteproyecto.febrero%></td>
                        <td>$ <%=anteproyecto.marzo%></td>
                        <td>$ <%=anteproyecto.abril%></td>
                        <td>$ <%=anteproyecto.mayo%></td>
                        <td>$ <%=anteproyecto.junio%></td>
                        <td>$ <%=anteproyecto.julio%></td>
                        <td>$ <%=anteproyecto.agosto%></td>
                        <td>$ <%=anteproyecto.septiembre%></td>
                        <td>$ <%=anteproyecto.octubre%></td>
                        <td>$ <%=anteproyecto.noviembre%></td>
                        <td>$ <%=anteproyecto.diciembre%></td>
                        <td>$ <%=anteproyecto.total%></td>
                        <td style="display: flex; ">
                          <a href="/editarCalendario/<%=anteproyecto.idCalendario %>"><i class='bx bx-message-square-edit bx-sm' style="color: #91133C;"></i></a>                          
                      </td>
                      </tr>
                    <% } %>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% }) %>
</body>
