<body>
  <div style="color: #fff">.</div>
  <div class="cointainer">
    <div class="row">
      <div class="col-md-9 offset-md-1">
        <h2>Articulo del consulta</h2>
      </div>
      <div class="col-md-8 offset-md-1">
        <h6>La información de este articulo es la siguiente.</h6>
        <button
          type="submit"
          class="btn btn-success btn-block"
          onclick="toggleFields()"
          style="background-color: #91133c"
        >
          Editar Información
        </button>

        <button
          id="deshabilitar-articulo"
          type="submit"
          class="btn btn-success btn-block"
          style="background-color: #91133c"
        >
          Deshabilitar Árticulo
        </button>
        <script>
          const deshabilitarArticulo = async () => {
            const id = "<%= article._id %>"; // aquí se debe reemplazar con el ID del artículo a deshabilitar
            const response = await fetch(`/consulta/${id}/deshabilitar`, {
              method: "POST",
            });
            if (response.ok) {
              window.location.href = "/inventario";
            } else {
              console.error(response.statusText);
            }
          };

          const deshabilitarArticuloButton = document.getElementById(
            "deshabilitar-articulo"
          );
          deshabilitarArticuloButton.addEventListener(
            "click",
            deshabilitarArticulo
          );

        </script>
        <script>
          function toggleFields() {
            var fields = document.getElementsByTagName("input");
            for (var i = 0; i < fields.length; i++) {
              if (fields[i].type == "text") {
                if (fields[i].disabled) {
                  fields[i].disabled = false;
                } else {
                  fields[i].disabled = true;
                }
              }
            }
          }
        </script>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <form
        action="/consulta/<%= article._id %>"
        method="POST"
        enctype="multipart/form-data"
        class="row"
      >
        <div class="col-6">
          <table class="table">
            <tbody>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">
                  <input
                    type="text"
                    name="nombre"
                    class="form-control"
                    value="<%= article.nombre %>"
                    disabled
                  />
                </th>
              </tr>
              <tr>
                <th scope="col">Numero Inventario</th>
                <th scope="col">
                  <input
                    type="text"
                    name="numInventario"
                    class="form-control"
                    value="<%= article.numInventario %>"
                    disabled
                  />
                </th>
              </tr>
              <tr>
                <th scope="col">Clave Control</th>
                <th scope="col">
                  <input
                    type="text"
                    name="clvControl"
                    class="form-control"
                    value="<%= article.clvControl %>"
                    disabled
                  />
                </th>
              </tr>
              <tr>
                <th scope="col">Marca</th>
                <th scope="col">
                  <input
                    type="text"
                    name="marca"
                    class="form-control"
                    value="<%= article.marca%>"
                    disabled
                  />
                </th>
              </tr>
              <tr>
                <th scope="col">Modelo</th>
                <th scope="col">
                  <input
                    type="text"
                    name="modelo"
                    class="form-control"
                    value="<%= article.modelo%>"
                    disabled
                  />
                </th>
              </tr>
              <tr>
                <th scope="col">Tipo de Alta</th>
                <th scope="col">
                  <input
                    type="text"
                    name="tipoAlta"
                    class="form-control"
                    value="<%= article.tipoAlta%>"
                    disabled
                  />
                </th>
              </tr>
              <tr>
                <th scope="col">Costo de Adquisición</th>
                <th scope="col">
                  <input
                    type="text"
                    name="costoAdquisicion"
                    class="form-control"
                    value="<%= article.costoAdquisicion%>"
                    disabled
                  />
                </th>
              </tr>
              <tr>
                <th scope="col">Número de Factura</th>
                <th scope="col">
                  <input
                    type="text"
                    name="numFactura"
                    class="form-control"
                    value="<%= article.numFactura%>"
                    disabled
                  />
                </th>
              </tr>
              <tr>
                <th scope="col">Descripción</th>
                <th scope="col">
                  <input
                    type="text"
                    name="description"
                    class="form-control"
                    value="<%= article.description%>"
                    disabled
                  />
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-6">
          <table class="table">
            <tbody>
              <tr>
                <th scope="col">Etiqueta del Bien</th>
                <th scope="col">
                  <input
                    type="text"
                    name="etiquebi"
                    class="form-control"
                    value="<%= article.etiquebi %>"
                    disabled
                  />
                </th>
              </tr>
              <tr>
                <th scope="col">Seguimiento de Etiqueta</th>
                <th scope="col">
                  <input
                    type="text"
                    name="seguim"
                    class="form-control"
                    value="<%= article.seguim %>"
                    disabled
                  />
                </th>
              </tr>
              <tr>
                <th scope="col">Estatus</th>
                <th scope="col">
                  <input
                  id="status"
                    type="text"
                    name="estatusbi"
                    class="form-control"
                    value="<%= article.estatusbi %>"
                    disabled
                  />
                </th>
              </tr>
              <tr>
                <th scope="col">Fecha de Baja</th>
                <th scope="col">
                  <input
                    type="text"
                    name="bajabien"
                    class="form-control"
                    value="<%= article.bajabien %>"
                    disabled
                  />
                </th>
              </tr>
              <tr>
                <th scope="col">Aplica a Registro Contable</th>
                <th scope="col">
                  <input
                    type="text"
                    name="registrocon"
                    class="form-control"
                    value="<%= article.registrocon %>"
                    disabled
                  />
                </th>
              </tr>
              <tr>
                <th scope="col">Esta Registrado en la Base Contable</th>
                <th scope="col">
                  <input
                    type="text"
                    name="registrodb"
                    class="form-control"
                    value="<%= article.registrocon %>"
                    disabled
                  />
                </th>
              </tr>
              <tr>
                <th scope="col">Tratamiento Contable</th>
                <th scope="col">
                  <input
                    type="text"
                    name="trataconta"
                    class="form-control"
                    value="<%= article.trataconta %>"
                    disabled
                  />
                </th>
              </tr>
              <tr>
                <th scope="col">Nombre de Quien Solicito el Bien</th>
                <th scope="col">
                  <input
                    type="text"
                    name="NombreSolici"
                    class="form-control"
                    value="<%= article.NombreSolici %>"
                    disabled
                  />
                </th>
              </tr>
              <tr>
                <th scope="col">Área solicitante</th>
                <th scope="col">
                  <input
                    type="text"
                    name="areasolici"
                    class="form-control"
                    value="<%= article.areasolici %>"
                    disabled
                  />
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group" style="text-align: right">
          <button
            class="btn btn-success btn-block"
            type="submit"
            onclick="toggleFields()"
            style="background-color: #91133c"
          >
            Guardar Cambios
          </button>
        </div>
      </form>
    </div>
  </div>
</body>