
    <head>
        <style>
            .fecha {border-radius: 5px; float: right; margin: 0px 8px; border-style: solid; border-width: 1px;}
        </style>
    </head>

    <body>
     <!--  <div class="fecha">
            <label class="Entrega">Entrega: 0-00-0000</label>
        </div>
        --> 
        <div  style="margin: 5em; margin-top: 3%; " class="container">
            
            <!--Temporizador para fecha de envio-->
            <h1 style=" text-align: center;">Transferencias</h1>
            <p>En este apartado deberas ....</p>
                
                    <label class="form-label">Nombre de la actividad: </label>   
                    <input type="text" placeholder="1.1 Colocacion de estudiantes de Educacion Superior en servicio social, estadias o residencias profesionales" style="border: 0; width: 100%;" readonly>
                
            <table id="tabla" class="table table-hover" >
                <thead>
                    <th scope="col">Transferencia</th>
                    <th scope="col">Motivo</th>
                    <th scope="col">Justificación</th>
                    <th scope="col">Fecha</th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    <% results.forEach((transferencias)=>{ %>
                        <tr>
							
							<td> <%= transferencias.id %></td>
							
                            <td> <%= transferencias.Motivo %></td>

                            <td> <%= transferencias.Justificacion %></td>

                            <td> <%= transferencias.Fecha %></td>

                            <td>
                                <a href="/eliminarTransferencia/<%=transferencias.id %>"><i class='bx bx-message-square-x bx-sm' style="color: #91133C;"></i></a>    
    
								<a href="/reporteTransferencia/<%=transferencias.id %>" type="button" class="btn btn-success btn-block" style="background-color:#91133C"><i class="bi bi-printer-fill"></i> Imprimir</a>
                            </td>
                        </tr>
                    <% }) %>
					
                </tbody>
            </table>
            <div class="form-group" style="text-align: right">
                <a href="/nuevaTransferencia/1.1" type="button" class="btn btn-success btn-block "style="background-color:#91133C;"><i class='bx bxs-plus-circle bx-xs'></i> Nueva Transferencia </a>
            </div>
        </div>
    </body>